/*假圖產生器*/
/*https://picsum.photos/id/237/200/300*/


/*通用樣式*/

*,
*::before,
*::after{
    box-sizing: border-box;
}

h2{
    font-size: 20px;
    line-height: 1.2;
}

p{
    font-size: 16px;
    line-height: 1.5;
}

img{
    vertical-align: middle;
    align-items: flex-start;
}
.container{
    width: 640px;
    margin: 0 auto;
} 

.d-flex{
    display: flex;
}

.gap-20{
    gap: 20px;
}

.gap-24{
    gap: 24px;
}

.mb-24{
    margin-bottom: 24px;
}

.py-48{
    padding-top: 48px;
    padding-bottom: 48px;
}
.footer{
    text-align: center;
    background: gray;
}
















// 第五次
// *,*::before,::after{
//     box-sizing: border-box;
// }

// h2{
//     font-size: 20px;
//     line-height: 1.2;
// }

// p{
//     font-size: 16px;
//     line-height: 1.5;
// }

// img{
//     vertical-align: middle;
//     align-items: flex-start;
// }

// .container{
//     width: 640px;
//     margin: 0 auto;
// }

// .d-flex{
//     display: flex;
    
// }

// .gap-20{
//     gap: 20px;
// }

// .gap-24{
//     gap: 24px;
// }

// .w-288{
//     width: 288px;
// }

// .pb-24{
//     padding-bottom: 24px;
// }
// .py-48{
//     padding-top: 48px;
//     padding-bottom: 48px;
// }

// .footer{
//     text-align: center;
//     background: gray;
// }



// 第四次
// *,*::before,
// *::after {
//     box-sizing: border-box; 
// }

// img{
//   vertical-align: middle;
// }

// h2{
//     font-size: 20px;
//     line-height: 1.2;
// }
// p{
//     font-size: 16px;
//     line-height: 1.5;
// }

// .container{
//     width: 640px;
//     margin: 0 auto;
// }

// .d-flex{
//     display: flex;
// }
// .gap-20{
//     gap: 20px;
// }
// .w-288{
//     width: 288px;
// }

// .pb-24{
//     padding-bottom: 24px;
// }

// .py-52{
//     padding-bottom: 52px;
//     padding-top: 52px;
// }


// .footer{
//     text-align: center;
//     background: gray;
// }





// 第三次
// h2{
//     font-size: 20px;
//     line-height: 1.2;
// }

// p{
//     font-size: 16px;    
//     line-height: 1.5;
// }
// /*頁面樣式*/
// .container{
//     width: 640px;
//     margin: 0 auto;
// }

// .d-flex{
//     display: flex;
// }

// .gap-20{
//     gap: 20px;
// }

// .w-288{
//     width: 288px;
// }

// .pb-24{
//     padding-bottom: 24px;
// }
// .py-48{
//     padding-bottom: 48px;
//     padding-top: 48px;
// }


// .footer{
//     // background: gray;
//     text-align: center;
// }
