h1 {
    color: blue;
    font-size: 30pt;
}

h2, h3, h4 {
    color: black;
    font-size: 15pt;
    border-bottom: 5px solid pink;
    border-left: 5px solid pink;
}

a {
    color: red;
}

a:hover {
    color: blue;
    font-size: 20px;
}

p {
    color: black;
    text-indent: 32px;
}

.bordered-image {
    border: 5px solid orange;
}
