/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end of reset.css */
/* css for Section1 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* * {
    outline: 1px solid gray;
} */

.layout {
    max-width: 1313px;
    width: 100%;
    margin: 0 auto;
    border-radius: 2px;
    border: 1px;
    padding: 110px 92px 164px 83px;
}

.wrap {
    width: 1138px;
    height: 888px;
    padding: 8px;
    gap: 12px;
    display: flex;
    
}

.icon,.content{
    flex: 1;
    background:#EAF0ED;
    border-radius: 12px;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding :32px 16px 80px 36px;
    
}

.content h4 {
    font-size: 28px;
    font-weight: 600;
    color: #3F5D45;
    line-height: 120%;
    letter-spacing: 0%;
}

.content p {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    line-height: 140%;
    letter-spacing: 0%;
    white-space: pre-line;
}

.content h5 {
    font-size: 24px;
    font-weight: 600;
    color:#3F5D45;
    line-height: 160%;
    letter-spacing: 0%;
}