.comments {
    max-width: 900px;
    padding: 20px;
    background: rgba(128, 128, 128, 0.202);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment{
    padding: 10px;
    display: flex;
    // border: 1px solid black;
}

.comment-yellow {
    background-color: rgba(255, 166, 0, 0.549);
}

// 偽元素(不存在html中)

// 「對所有 .comment 元素，如果裡面有 .special，就在它的開頭加上 📌 這個釘圖案。」

.comments:has(.special){
    background: rgba(0, 0, 255, 0.173);
}

.comment:has(:checked){
    background: rgba(0, 255, 0, 0.173);
}


// .special::before {
//     content: "📌";
// }

// .special {
//     font-weight: bold;
// }